*{
	margin:0;
	padding:0;
}

body{
	font-family: "微软雅黑","宋体",serif;
	font-size: 14px;
}
header{
	/*border:1px solid red;*/
	height: 40px;
	width:100%;
}

.content{margin-left:30px;}
.content article{float:left;}

.content aside{
	float:left;
	padding-left:30px;
	
}

#fastboot_txt{width: 280px;height:18px;line-height: 18px}
.rs{
	border:1px solid red;
	background: #eee;
	width: 320px;
	height:80px;
	overflow: auto;
    margin-top:10px;
    
}